/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  margin: 0;
  min-height: 100vh;

  background:
    radial-gradient(circle at center,
      #2b5d87 0%,
      #123e66 40%,
      #0b2a4a 75%
    );

  background-attachment: fixed;
}

h1 {
  font-family: 'Fragment Mono', monospace;
  font-size: 3rem;
  color: #e6f0ff;
}



html, body, #root {
  margin: 0;
  height: 100%;
}

.top-container {
background: linear-gradient(
  to bottom,
  #8099ab,
  #6a8599,
  #567488
);
backdrop-filter: blur(8px);
  height: 10rem;
  width: 70%;
  margin-bottom: 2%;
  border-radius: 1rem;
  border-color: white;
  border-width: 1rem;
}

.bottom-container {
  margin-top: 2%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;   /* this creates clean spacing */
}
.bottom-con {
  width: calc(50% - 0.75rem); /* subtract half the gap */
  height: 10rem;
background: linear-gradient(
  to bottom,
  #8099ab,
  #6a8599,
  #567488
);
backdrop-filter: blur(8px);
  border-radius: 0.5rem;
}


.page-container {
  display: flex;
  flex-direction: column;  /* stacks h1 above map */
  align-items: center;
  margin-top: 2.5rem;
}

.page-title {
  margin-bottom: 1.5rem;
}

.map-wrapper {
  height: 40.25rem;  /* 500px */
  width: 70%;    /* 600px */
  box-shadow: 0 0.25rem 1.25rem rgba(0,0,0,0.15);
  overflow: hidden;
}

.map {
  height: 100%;
  width: 100%;
}